/* Example MainContent.css */

body {
  margin: 0;
  /* font-family: Arial, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure that the body takes at least the full viewport height */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top-bar{
  z-index: 1001;
  text-align: center;
  background-color: rgb(167, 24, 143);
  color: white;
  height: 30px;
  max-width: 100%;
}
/* .top-bar-content {
  display: inline-block;
  position: absolute;
  margin-top: 0px;
  white-space: nowrap;
  animation: scroll-left 30s linear infinite;
} */
 
.top-bar-content{
  margin-top: 3px;
}
@keyframes scroll-left {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-180%);
  }
}
.header {
  display: flex;
  align-items: center;
  background-color: rgb(231, 180, 243);
  color: rgb(167, 24, 143);
  padding: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.header h1 {
  flex-grow: 1;
  margin: 0;
  font-size: 24px;
}

.toggle-button {
  background: none;
  border: none;
  color: rgb(167, 24, 143);
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.toggle-button:hover{
  color: black;
}

.cart-button{
    background: none;
    border: none;
    color: rgb(167, 24, 143);
    font-size: 24px;
    cursor: pointer;
    margin-right: 50px;
    transition: color 0.3s ease;
}

.cart-button:hover{
  color: black;
}
.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: rgb(167, 24, 143);
  transition: color 0.3s ease;
}

.iconButton:hover{
  color: black;
}

.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 10px;
  flex: 1; /* Allow search input to grow */
  max-width: 200px; /* Prevent excessive growth on larger screens */
}

.item-container button{
    background: none;
    border: none;
    color: rgb(167, 24, 143);
    font-size: 24px;
    cursor: pointer;
    margin-left: 15px;
}

.cart-count-badge {
  position: absolute;
  background-color: rgb(167, 24, 143);
  color: rgb(231, 180, 243);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-top: -10px;
  margin-left: -5px;
}



.sidebar {
  width: 230px;
  background-color: rgb(231, 180, 243);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px;
  transform: translateX(-250px); /* Start hidden off-screen */
  transition: transform 0.3s ease;
  user-select: none;
  color: rgb(167, 24, 143);
  z-index: 1001;
}

.sidebar.open {
  transform: translateX(0); /* Slide in */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.sidebar li:hover {
  background-color: rgb(227, 135, 248);
  cursor: pointer;
  color: black;
}

.social-icons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}

.social-icons a {
  font-size: 24px;
  color: rgb(167, 24, 143);
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: black; /* Change to your preferred hover color */
}

main {
  padding: 20px;
  transition: margin-left 0.3s ease; /* Smooth transition for margin */
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px; /* Ensure space for footer (adjust if needed) */
  min-height: 100vh;
  user-select: none;
  overflow-x: hidden;
}

main.shifted {
  margin-left: 350px; /* Adjust for sidebar width */
}

.item-container {
  flex: 1 0 21%; /* Default: 4 items in a row */
  margin: 1%;
  box-sizing: border-box;
  max-width: 25%; /* Adjusted margin */
  border-radius: 20px;
  color: rgb(167, 24, 143);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content */
}
.item-container:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.item-container p {
  font-size: 13px;
  color: #000;
}
.item-container img {
  width: 100%;
  height: 300px; /* Fixed height for consistency */
  object-fit: cover; /* Ensure the image covers the container without distortion */
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 20px;
}

.item-container img,
h3,
p {
  margin-left: 20px;
}

.item-container p, h3 {
  margin: 10px;
  text-align: center; /* Center text */
  font-size: 14px; /* Ensure readability */
}

.controls{
  align-self:center;
  margin-top: 100px;
}

.controls input{
  border-radius: 10px;
  padding: 5px;
}

.controls select{
  margin-left: 20px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .body{
    max-width: 1200px;
  }
  .item-container {
    flex: 1 0 30%; /* 3 items per row */
    max-width: 100%;
    right: 40px;
  }

  .top-bar{width: 100%}
  
  .header,.footer{
    max-width: 1200px;
  }

  .social-icons{
    margin-bottom: 80px;
  }
}

@media (max-width: 992px) {

  .body{
    max-width: 992px;
  }
  .item-container {
    flex: 1 0 45%; /* 2 items per row */
    max-width: 100%;
    right: 40px;

  }
  header{
    height: 70px;
    position: absolute;
  }
  .top-bar-content {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    animation: scroll-left 23s linear infinite;
  }
  @keyframes scroll-left {
    from {
        transform: translateX(30%);
    }
    to {
        transform: translateX(-130%);
    }
  }
  .top-bar{height: 30px;}


  main.shifted {
    margin-left: 250px; /* Adjust for sidebar width */
  }

  .sidebar {
    width: 230px;
  }

  .header,.footer{
    max-width: 992px;
  }

  .social-icons{
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {

  .body{
    max-width: 768px;
  }
  .sidebar {
    width: 200px;
  }
  .top-bar{width: 100%}


  .sidebar.open {
    transform: translateX(0);
  }

  main {
    padding: 10px;
    padding-bottom: 60px; /* Ensure space for footer (adjust if needed) */
  }

  header,
  footer {
    padding: 10px;
    max-width:768px;
  }

  .item-container {
    flex: 1 0 100%; /* 1 item per row */
    max-width: 100%;
  }

  .social-icons{
    margin-bottom: 80px;
  }
}

@media (max-width: 480px) {

  .body{
    max-width: 480px;
  }
  header h1,
  footer p {
    font-size: 18px;
  }

  .top-bar{width: 100%}


  button {
    font-size: 14px;
  }

  .header,.footer{
    max-width: 480px;
  }

  .social-icons{
    margin-bottom: 80px;
  }

  .item-container{
    margin-left: 10px;

  }
  
}

@media (max-width: 360px) {

  .body{
    max-width: 360px;
  }
  .toggle-button {
    font-size: 20px;
  }

  .top-bar{width: 100%}


  header h1 {
    font-size: 20px;
  }

  .header,.footer{
    max-width: 360px;
  }

  .social-icons{
    margin-bottom: 80px;
  }
  .item-container{
    margin-left: 10px;
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .searchInput {
    max-width: 150px;
  }
  
}

@media (max-width: 992px) {
  .searchInput {
    max-width: 120px;
  }

  .iconButton {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .searchInput {
    max-width: 100px;
  }

  .iconButton {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .searchInput {
    max-width: 80px;
    padding: 6px;
  }

  .iconButton {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .searchInput {
    max-width: 70px;
    padding: 5px;
  }

  .iconButton {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .item-container {
    flex: 1 0 30%; /* 3 items per row */
    max-width: calc(33.33% - 20px); /* Adjust based on margin */
  }
}

@media (max-width: 992px) {
  .item-container {
    flex: 1 0 45%; /* 2 items per row */
    max-width: calc(50% - 20px); /* Adjust based on margin */
  }
}

@media (max-width: 768px) {
  .item-container {
    flex: 1 0 100%; /* 1 item per row */
    max-width: calc(100% - 20px); /* Full width */
  }

  .item-container img {
    width: 100%;
  }

  .item-container p, h3 {
    font-size: 16px; /* Larger text for better readability */
  }
}

@media (max-width: 480px) {
  .item-container {
    margin: 0; /* Remove margin */
  }

  .item-container img {
    height: auto; /* Ensure images scale properly */
  }

  .item-container p, h3 {
    font-size: 18px; /* Larger text for better readability */
  }
}